/* 
html css
h1 css
p css
input css


*/

html {
    margin:0;
    padding:0;
    background:lightgray;
    text-align:center;
}


h1 {
    text-align: center;
}

input {
    margin:20px;
    padding:10px;
}